@font-face {
  font-family: 'Havanaa';
  src: url('./fonts/Havana-Regular.woff') format('woff');
}

body {
  background-image: url(https://image.freepik.com/free-vector/seamless-pattern-background-cute-cat-on-brown-pastel_45130-407.jpg);
}

.window {
  width: 800px;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #FCF0E4;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  font-family: 'Havanaa';
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 1.15em;
}

.box {
  text-align: center;
}

.text {
  font-size: 40px;
  margin-top: 30px;
}

.header,
.form-number {
  margin-bottom: 50px;
}

.header {
  font-family: 'Havanaa';
  margin-top: 50px;
  font-size: 45px;
}

.form-label {
  font-size: 38px;
}

.form-number {
  width: 400px;
  height: 55px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 38px;
  font-family: 'Havanaa';
  letter-spacing: 2px;
  text-align: center;
  border-radius: 20px;
}

.call-button {
  width: 300px;
  height: 75px;
  vertical-align: middle;
  font-size: 27px;
  line-height: 75px;
  background: #ac2770;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  margin: 0 auto;
}

.call-button:hover {
  filter: brightness(130%);
}

.error {
  border: 1px solid #ac2770;
  background: #ac27704d;
}
